<h1>Your Orders</h1>

<% @orders.each do |order| %>
  <div>
    <h3>Order <%= link_to order.id, order_path(order) %> - <%= order.status %></h3>
    <p>Total: $<%= '%.2f' % (order.total_cents.to_f / 100) %></p>
    <p>Placed: <%= order.created_at.to_s(:short) %></p>
  </div>
<% end %>
